body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#score-result {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}
canvas {
    border: 3px solid rgb(23, 77, 77);
    background-color: #000;
}
